<!DOCTYPE html>
<html ng-app="app">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Menu component">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Componente demo</title>
  </head>
  <body ng-controller="LoadDataMenu">
    <h1>dmk-menu</h1>
    <h3>Horizontal menu</h3>
    <div dmk-menu dmk-type="horizontal" dmk-options="dmkOptions" dmk-name-option="optionName" dmk-is-portable-device="isPortableDevice"></div>
    <p style="margin: 50px">Scope: {{optionName}}</p>
    <pre>div(dmk-menu, dmk-type="horizontal" dmk-options = "dmkOptions" dmk-name-option="optionName")
p(style="margin: 50px") Scope: {{optionName}}
</pre>
    <h3>Vertical menu</h3>
    <div dmk-menu dmk-type="vertical" dmk-options="dmkOptions" dmk-name-option="optionName" dmk-is-portable-device="isPortableDevice"></div>
    <p style="margin: 50px">Scope: {{optionName}}</p>
    <p>{{whatDevice}}</p>
    <pre>div(dmk-menu, dmk-type="vertical" dmk-options = "dmkOptions" dmk-name-option="optionName")
p(style="margin: 80px") Scope: {{optionName}}
</pre>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/re-tree/re-tree.min.js"></script>
    <script src="bower_components/ng-device-detector/ng-device-detector.min.js"></script>
    <script src="scripts/menu.js"></script>
    <script src="app.js"></script>
  </body>
</html>